<a href="https://colab.research.google.com/github/rifatkhan545/Machine-Learning/blob/main/housing_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [67]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [57]:
df = pd.read_csv('/content/drive/MyDrive/housing.csv')
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [58]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [59]:
len(df.columns)

10

In [61]:
df = df[['housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households',
       'median_house_value', 'ocean_proximity']]

In [28]:
df[df['total_bedrooms'] == ''].index

Int64Index([], dtype='int64')

In [35]:
df

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

In [34]:
len(df1)

20640

In [36]:
null_columns = df.columns[df.isnull().any()]

In [63]:
null_columns

Index(['total_bedrooms'], dtype='object')

In [64]:
df1 = df[df['total_bedrooms'].isnull()][null_columns]

In [39]:
df1

       total_bedrooms
290               NaN
341               NaN
538               NaN
563               NaN
696               NaN
...               ...
20267             NaN
20268             NaN
20372             NaN
20460             NaN
20484             NaN

[207 rows x 1 columns]

In [65]:
df = df.dropna()

In [69]:
df.columns

Index(['housing_median_age', 'total_rooms', 'total_bedrooms', 'population',
       'households', 'median_house_value', 'ocean_proximity'],
      dtype='object')

In [68]:
reg= linear_model.LinearRegression()

In [72]:
reg.fit(df[['housing_median_age', 'total_rooms', 'total_bedrooms', 'population',
       'households']],df.median_house_value)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [74]:
reg.coef_

array([1602.79089396,   45.9244188 , -292.58512768,  -64.90322067,
        284.82465139])

In [75]:
reg.intercept_

147497.23485262544

In [77]:
reg.predict([[50, 700, 100, 300, 120]])

array([245233.35190664])